doctype html 
html(lang='en')
    head 
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        title NAW &mdash; travel makes easy
        meta(name='description' content='naw is travel solving website in nitj it solves the problem of travel by providing the online auto booking')
        link(rel='icon' href='/img/logo.png')
        
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/css/index.css')
        script(type='module' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
        script(nomodule src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')

    body 
        nav.booking-nav.flex-2.pad16 
            a(href='/')
                img.logo(src='/img/logo404.png' alt='logo of company')
            .nav-container.flex-1.gap32 
                p.greet= `hi! ${user.name}`
                a.booing-btns(href='/') Home
                a.booing-btns(href='#') Logout 
                a(href='/my-account') 
                    img.logo(src=`/img/${user.photo}` alt='logo of company')
        section.sectionSpecialAutoTrack.pad96 
            .special-container 
                .situation-container.flex-3.gap16.flex-dir
                    each special in specials 
                        .detail-container.flex-1.gap32.pad16 
                            img(src=`/img/${user.photo}` alt='customer-image').special-img
                            p.specialName= `${special.user.name}` 
                            p.specialRollNumber= `${special.user.rollNumber}`
                            p.specialArrivalPlace= `${special.arrivalPlace}`
                            p.crossSpecial &rarr;
                            p.specialDestinationPlace= `${special.destinationPlace}`
                            p.specialPhoneNumber= `${special.user.phoneNumber}`
                            p.specialAltPhoneNumber= `${special.user.AltphoneNumber}`
                            p.statusLable--change Number of person
                            p.driverAutoNumber-special= `${special.numberOfPerson}`  || 'order not accepted yet'
                            p.specialFair 300/-
                            p.statusLable Status
                            p.crossSpecial &rarr;
                            //- impliment below 4 line of code again
                            if driverDetail.username == `${special.user.name}`
                                p.statusSpecial accepted  
                            else
                                p.statusSpecial pending... 
                            


        section.booking-accept-status.pad96.flex-1 
            each status in driverDetail 
                .status-container.flex-3.flex-dir.gap16.pad16 
                    h2.detail-heading details 
                    .credentail.flex-3.gap16 
                        p.statusLable--change.who-accepted-the-order-text Driver name 
                        p.drivername-special= `${status.driver[0].name}` || 'order not accepted yet'
                    .credentail.flex-3.gap16 
                        p.statusLable--change.who-accepted-the-order-text Auto number
                        p.driverAutoNumber-special= `${status.driver[0].autoNumber}`  || 'order not accepted yet'
                    //- .credentail.flex-3.gap16 
                    //-     p.statusLable--change Number of person
                    //-     p.driverAutoNumber-special= `${status.order[0].numberOfPerson}`  || 'order not accepted yet'
                    .credentail.flex-3.gap16 
                        p.statusLable--change.who-accepted-the-order-text Driver name
                        p.driverPhone= `${status.driver[0].phoneNumber}` || 'order not accepted yet'
                        p.driverAltNumber= `${status.driver[0].AltphoneNumber}` || 'order not accepted yet'
                    
                    .credentail.flex-3.gap16 
                        p.statusLable--change.who-accepted-the-order-text journey
                    
                        p.driverAutoNumber-special= `${status.order[0].arrivalPlace}` || 'order not accepted yet'
                        p.driverAutoNumber-special &rarr;
                        p.driverAutoNumber-special= `${status.order[0].destinationPlace}` || 'order not accepted yet'
                        button.paySpecialBookingfeeBtn Pay for final Booking
                        



    footer.footer.pad96 
        img.logo(src='/img/logo.png' alt='logo')
        .foot.grid.grid-4-col.gap96 
            .foot-navs.grid.grid-1-col.gap08 
                h4.fourth-heading policy 
                a.foot-link(href='#') Terms and conditions
                a.foot-link(href='#') Returns              
                a.foot-link(href='#') Refunds              
                a.foot-link(href='#') cancellation policy  
            .foot-navs.grid.grid-1-col.gap08 
                h4.fourth-heading company
                a.foot-link(href='/about-us') About founders
                a.foot-link(href='/new-service') carrear              
                a.foot-link(href='#') workers              
            .foot-navs.grid.grid-1-col.gap08 
                h4.fourth-heading social 
                a.foot-link(href='#') Twitter
                a.foot-link(href='#') Instagram              
                a.foot-link(href='#') Facebook
                a.foot-link(href='/feedback') Feedback 
            .foot-navs.grid.grid-1-col.gap08 
                h4.fourth-heading Special
                a.foot-link(href='/new-service') offers
                a.foot-link(href='/register-auto') Register your auto             
                a.foot-link(href='/new-service') Want work
        .api-publication.flex-1.gap96.pad24 
            p.api-label want to use our application Api
            button.api-doc-btn Use our Api 
        .copyright-container
            p.copyright Copyright &copy; claim by TTS all rightd reserved
